<!DOCTYPE html>
<html lang="en" {% block more_html_tag %}{%endblock%}>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Package Upgrades</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    {% block extra_head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>