{% extends "base.html" %}
{% block body %}
<div class="col-md-4"></div>
<div class="col-md-4">
    <a href="/login/google-oauth" class="btn btn-lg btn-primary">Login with Google</a>
</div>
<div class="col-md-4"></div>

{% endblock %}
