{% extends "base.html" %}
{% block more_html_tag %}
    ng-app="packsec"
{% endblock %}
{% block extra_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}bower_components/angular/angular.js"></script>
{% endblock %}
{% block body %}
    <h1>FOO: <span ng-bind="foo"></span></h1>
{% endblock %}