{% extends "base.html" %}

{% block body %}
        <h1>new project</h1>
        <form method="POST">
            {% csrf_token %}
            <label>name</label><input type="text" name="name"/>
            <button class="btn btn-primary">create</button>
        </form>
{% endblock %}