{% extends "base.html" %}

{% block body %}
        <h1>{{ project.name }}</h1>
            <form action="{% url 'project_file_upload' project.strid %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Requirements file</label>
                <input type="file" name="reqfile" value="File">
                <div class="small"><em>Currently accepted formats: python requirements.txt</em></div>
                <input type="submit" value="Submit">
            </form>

{% endblock %}